.footer {
  background-color: var(--secondarycolor);
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 30px 10px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 4px;
}