.services {
  padding: var(--section-padding);
}
.services .container .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services  .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services  .services-content .srv {
      flex-direction: column;
      text-align: center;
  }
}
.services  .services-content .srv svg {
  color: var(--main-color);
  flex-basis: 60px;
}
.services  .services-content .srv .text {
  flex: 1;
}
@media (max-width: 767px) {
  .services  .services-content .srv .text {
    margin-top: 15px;
  }
}
.services  .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services  .services-content .srv .text p {
  line-height: 1.8;
  color: #444;
  font-weight: 300;
}
.services  .services-content .image {
  text-align: center;
  position: relative;
}
.services  .services-content .image::before {
  content: "";
  position: absolute;
  background-color: var(--secondarycolor);
  z-index: -1;
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  right: 0;

}
.services  .services-content .image img {
  width: 260px;
  height: auto;
}
@media (max-width: 1200px) {
  .image-invisible {
      display: none;
  }
}