.landing {
  background-image: url(../../assets/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 320px;
  max-width: 100%;
  text-align: center;
}
.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
}
.landing .intro-text p {
  font-size: 20px;
  line-height: 1.8;
}