.about {
  padding: var(--section-padding);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .about .about-content {
      flex-direction: column;
      text-align: center;
  }
}
.about .about-content .image {
  width: 250px;
  height: 375px;
  position: relative;
}
@media (max-width: 991px) {
  .about .about-content .image {
      margin: 0 auto 60px;
  }   
}
.about .about-content .image::before {
  content: "";
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  position: absolute;
  z-index: -1;
}
.about .about-content .image:after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  top: -40px;
  right: -150px;
  z-index: -1;
  border-left: 60px solid var(--main-color);
  border-bottom: 60px solid var(--main-color);
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
      display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
  height: auto;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 60px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
}