.contact {
  padding: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  padding: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  color: var(--secondarycolor);
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  color: var(--main-color);
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social svg {
  margin-left: 10px;
  color: var(--secondarycolor);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
      font-size: 30px;
  }
}