.features {
  background-color: var(--section-background);
  padding: var(--section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
  gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat svg {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  font-size: 20px;
  line-height: 1.8;
  color: #777;
}